<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anthony Lopez</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About Me</a> {# TODO: Create an About Me Page #}
        <a href="{% url 'projects' %}">Projects</a> {# TODO: Create a Projects Page #}
        <a href="{% url 'contact' %}">Contact Me</a> {# TODO: Create a Contact Me Page #}
    </nav>
</header>

<main>
 {% block content %}
 {% endblock %}
</main>

<footer>Anthony Lopez 2023 |
            <a href="https://github.com/Ostyantic">
                <img width="45px" height="35px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/antalopez/">
                <img width="45px" height="35px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg" alt="LinkedIn" />
            </a>
            <a href="https://www.instagram.com/ostyantic/">
                <img width="45px" height="45px" src="static/images/insta.png" alt="Instagram" />
            </a>
 </footer>
</body>
</html>