{% extends 'base.html' %}

{% block content %}
    <div class="bg-black">
        <h1 class="title text-center text-4xl py-6">About Me</h1>
        <div class="flex space-x-9 m-8 p-8">
            <img class="h-auto max-w-lg rounded-lg border-2 border-Lumigreen" src="static/images/AnthonyLopez.jpg" alt="AnthonyLopez">
            <p>Description about me:<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis cras sed. Duis ut diam quam nulla porttitor massa id neque aliquam. Eget aliquet nibh praesent tristique magna sit amet. Est pellentesque elit ullamcorper dignissim cras.</p>
        </div>
    </div>

{#    <div class="bg-black">#}
{#        <h1 class="title text-center text-4xl">About Me</h1>#}
{#        <div class="flex space-x-9">#}
{#            <img class="h-auto max-w-lg rounded-lg" src="static/images/AnthonyLopez.jpg" alt="AnthonyLopez">#}
{#            <p>Description about me:<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis cras sed. Duis ut diam quam nulla porttitor massa id neque aliquam. Eget aliquet nibh praesent tristique magna sit amet. Est pellentesque elit ullamcorper dignissim cras.</p>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="bg-black">#}
{#        <h1 class="title text-center text-4xl">About Me</h1>#}
{#        <div class="flex space-x-9">#}
{#            <img class="h-auto max-w-lg rounded-lg" src="static/images/AnthonyLopez.jpg" alt="AnthonyLopez">#}
{#            <p>Description about me:<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis cras sed. Duis ut diam quam nulla porttitor massa id neque aliquam. Eget aliquet nibh praesent tristique magna sit amet. Est pellentesque elit ullamcorper dignissim cras.</p>#}
{#        </div>#}
{#    </div>#}


{% endblock content %}